 <div class="container">
   <div class="row">
     <div class="col">
      <h1>商品新規登録</h1>
        <%= form_with model: @post_image, local:true do |f| %>
          <h4>商品画像</h4>
          <%= f.attachment_field :image %>
          <h4>商品名</h4>
          <%= f.text_field :shop_name %>
          <h4>商品説明</h4>
          <%= f.text_area :caption %>
          <p>ジャンル</p>
          <%= f.hidden_field :genre_id %>
          <p>税抜価格</p>
          <%= f.text_field :price %>
          <div class="check_box_tag">
            <%= check_box_tag :sample1 %>
            <%= label_tag :sample1, "販売ステータス" %>
             
            <%= check_box_tag :sample2 %>
            <%= label_tag :sample2, "販売停止中" %>
          </div>
          <%= f.submit '新規登録' %>
        <% end %>
      </div>
    </div>
  </div>