<div class="container">
  <div class="row p-2">
    <div class="col m-4">
      <div class="top-title">
        <div class="top-img position-relative text-center">
          <%= image_tag 'img2.jpeg',style:"width:600px; height:200px;" %>
          <div class="top-list bg-white position-absolute text-left" style=" top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);">
            <p>ようこそ、長野CAKEへ<br/>
            このサイトは、ケーキ販売のECサイトになります。<br/>
            会員でない方も観覧できますが、<br/>
            購入には会員登録が必要になります。</p>
          </div>
        </div>
      </div>
        <div class="top-logo">
          <h4 class="my-3 font-weight-bold">新着商品</h4>
        </div>
          <div class="top-all d-flex">
            <% @items.each do |item| %>
              <div class="top-other d-block m-4 text-center">
                <div class="top-item"><%= attachment_image_tag item,:image, fallback: "no_image.jpg", size:'200x200' %></div>
                <p><%= item.name %></p>
                <p>¥<%= item.price %></p>
              </div>
            <% end %>
          </div>
         <% if customer_signed_in? %>
            <div class="top-link text-right">
              <%= link_to '全ての商品をみる',  public_items_path %>
            </div>
              <% else %>
               <%= link_to '全ての商品をみる',  new_customer_registration_path %>
          <% end %>
    </div>
  </div>
</div>