<div class="container">
  <div class="row ">
    <div class="col m-4" style="width:100%;">
      <div class="order-title m-4 text-center" style="width:20%;">
        <h4 class="bg-light">注文履歴一覧</h4>
      </div>
     <% @sum = 0 %>
      <% #@orders.each do |order| %>
        <% # @sum += order.order_item.buy_price * order_item.quantity %>
       <% #end %>
      <table class="table">
        <thead>
          <tr>
            <th class="border border-dark bg-light">注文日</th>
            <th class="border border-dark bg-light">配送先</th>
            <th class="border border-dark bg-light">注文商品</th>
            <th class="border border-dark bg-light">支払金額</th>
            <th class="border border-dark bg-light">ステータス</th>
            <th class="border border-dark bg-light">注文詳細</th>
          </tr>
        </thead>
        <% @orders.each do |order| %>
          <tbody>
            <tr>
              <td class="border border-dark"><%= order.updated_at.strftime('%m月%d日 %H:%M') %></td>
              <td class="border border-dark"><%= order.delivery_postal_code %><br/>
                  <%= order.delivery_address %><br/>
                  <%= order.delivery_name %></td>
                  <td class="border border-dark">
                      <% order.order_items.each do |order_item| %>
                        <%= order_item.item.name + "　" %><br/>
                      <% end %>
                  </td>
              <td class="border border-dark"><%= order.shiopping_cost + @sum %></td>
                <% if order.is_deleted == "A" %>
                  <td class="border border-dark">入金待ち</td>
                <% elsif order.is_deleted == "B" %>
                  <td class="border border-dark">入金確認</td>
                <% elsif order.is_deleted == "C" %>
                 <td class="border border-dark">制作中</td>
                <% elsif order.is_deleted == "D" %>
                  <td class="border border-dark">発送準備中</td>
                <% else %>
                  <td class="border border-dark">発送済み</td>
                <% end %>
              <td class="border border-dark"><%= link_to "表示する",  public_order_path(order.id) %></td>
            </tr>
          </tbody>
        <% end %>
        </table>
        <%= paginate @orders, :class=>"m-4" %>
      </div>
  </div>
</div>